/*---------------------------------------------
[Table of contents]

1. Base Styles
2. Typography
3. Preload
4. Buttons
5. Header
6. Navigation
7. About
8. Technologies
9. Info
10. Features
11. Gallery
12. Products
	12.1 Layout 1 and Layout 2
	12.2 Layout 3
	12.3 Order form
13. Video
14. FAQ
15. Download
16. Team
17. Newsletter
18. Reviews
19. Call To Action
20. Footer
21. Single Page
22. Media

---------------------------------------------*/
/*
* 1. Base Styles
*/
html {
    font-size: 15px;
}

body {
    width: 100%;
    max-width: 100%;
    min-width: 320px;
    overflow-x: hidden;
    font-family: Montserrat, Arial, sans-serif !important;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5rem;
    background: white;
    color: #222222;
    word-wrap: break-word;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
}

a, abbr, acronym, address, applet, b, big, blockquote, body, caption, center, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, html, i, iframe, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, u, ul, var {
    border: 0;
    margin: 0;
    padding: 0;
    outline: 0;
    vertical-align: baseline;
    line-height: 2rem;
}

a, button {
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

a:focus, a:active:focus, button:focus, button:active {
    outline: 0;
    color: #ffffff;
}

img {
    max-width: 100%;
    height: auto;
}

input {
    position: relative;
    height: 3rem;
    padding: 0.75rem 2rem;
    margin: 1.5rem 0;
    background-color: #f2f2f2;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: normal;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

input[type="text"]:focus {
    outline: none;
}

/*** Animations ***/
@-webkit-keyframes move-right {
    0% {
        left: -50px;
    }
    100% {
        left: 0%;
    }
}

@-moz-keyframes move-right {
    0% {
        left: -50px;
    }
    100% {
        left: 0%;
    }
}

@-ms-keyframes move-right {
    0% {
        left: -50px;
    }
    100% {
        left: 0%;
    }
}

@-o-keyframes move-right {
    0% {
        left: -50px;
    }
    100% {
        left: 0%;
    }
}

@keyframes move-right {
    0% {
        left: -50px;
    }
    100% {
        left: 0%;
    }
}

@-webkit-keyframes move-left {
    0% {
        right: -50px;
    }
    100% {
        right: 0%;
    }
}

@-moz-keyframes move-left {
    0% {
        right: -50px;
    }
    100% {
        right: 0%;
    }
}

@-ms-keyframes move-left {
    0% {
        right: -50px;
    }
    100% {
        right: 0%;
    }
}

@-o-keyframes move-left {
    0% {
        right: -50px;
    }
    100% {
        right: 0%;
    }
}

@keyframes move-left {
    0% {
        right: -50px;
    }
    100% {
        right: 0%;
    }
}

@-webkit-keyframes waves {
    0% {
        -webkit-transform: scale(0.2, 0.2);
        -moz-transform: scale(0.2, 0.2);
        -ms-transform: scale(0.2, 0.2);
        -o-transform: scale(0.2, 0.2);
        transform: scale(0.2, 0.2);
        opacity: 0;
    }
    50% {
        opacity: 0.9;
    }
    100% {
        -webkit-transform: scale(0.9, 0.9);
        -moz-transform: scale(0.9, 0.9);
        -ms-transform: scale(0.9, 0.9);
        -o-transform: scale(0.9, 0.9);
        transform: scale(0.9, 0.9);
        opacity: 0;
    }
}

@-moz-keyframes waves {
    0% {
        -webkit-transform: scale(0.2, 0.2);
        -moz-transform: scale(0.2, 0.2);
        -ms-transform: scale(0.2, 0.2);
        -o-transform: scale(0.2, 0.2);
        transform: scale(0.2, 0.2);
        opacity: 0;
    }
    50% {
        opacity: 0.9;
    }
    100% {
        -webkit-transform: scale(0.9, 0.9);
        -moz-transform: scale(0.9, 0.9);
        -ms-transform: scale(0.9, 0.9);
        -o-transform: scale(0.9, 0.9);
        transform: scale(0.9, 0.9);
        opacity: 0;
    }
}

@-ms-keyframes waves {
    0% {
        -webkit-transform: scale(0.2, 0.2);
        -moz-transform: scale(0.2, 0.2);
        -ms-transform: scale(0.2, 0.2);
        -o-transform: scale(0.2, 0.2);
        transform: scale(0.2, 0.2);
        opacity: 0;
    }
    50% {
        opacity: 0.9;
    }
    100% {
        -webkit-transform: scale(0.9, 0.9);
        -moz-transform: scale(0.9, 0.9);
        -ms-transform: scale(0.9, 0.9);
        -o-transform: scale(0.9, 0.9);
        transform: scale(0.9, 0.9);
        opacity: 0;
    }
}

@-o-keyframes waves {
    0% {
        -webkit-transform: scale(0.2, 0.2);
        -moz-transform: scale(0.2, 0.2);
        -ms-transform: scale(0.2, 0.2);
        -o-transform: scale(0.2, 0.2);
        transform: scale(0.2, 0.2);
        opacity: 0;
    }
    50% {
        opacity: 0.9;
    }
    100% {
        -webkit-transform: scale(0.9, 0.9);
        -moz-transform: scale(0.9, 0.9);
        -ms-transform: scale(0.9, 0.9);
        -o-transform: scale(0.9, 0.9);
        transform: scale(0.9, 0.9);
        opacity: 0;
    }
}

@keyframes waves {
    0% {
        -webkit-transform: scale(0.2, 0.2);
        -moz-transform: scale(0.2, 0.2);
        -ms-transform: scale(0.2, 0.2);
        -o-transform: scale(0.2, 0.2);
        transform: scale(0.2, 0.2);
        opacity: 0;
    }
    50% {
        opacity: 0.9;
    }
    100% {
        -webkit-transform: scale(0.9, 0.9);
        -moz-transform: scale(0.9, 0.9);
        -ms-transform: scale(0.9, 0.9);
        -o-transform: scale(0.9, 0.9);
        transform: scale(0.9, 0.9);
        opacity: 0;
    }
}

@-webkit-keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@-moz-keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@-ms-keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@-o-keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@-webkit-keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124;
    }
}

@-moz-keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124;
    }
}

@-ms-keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124;
    }
}

@-o-keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124;
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124;
    }
}

@-webkit-keyframes fill {
    0% {
        stroke-dashoffset: 140;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

@-moz-keyframes fill {
    0% {
        stroke-dashoffset: 140;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

@-ms-keyframes fill {
    0% {
        stroke-dashoffset: 140;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

@-o-keyframes fill {
    0% {
        stroke-dashoffset: 140;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes fill {
    0% {
        stroke-dashoffset: 140;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

.wrapper {
    position: relative;
    min-height: 100%;
}

.block {
    padding: 4.5rem 0;
}

.block .block-desc {
    text-align: center;
    margin-bottom: 1.5rem;
}

.block .block-desc p {
    width: 80%;
    margin: 0 auto;
}

.gray {
    padding: 4.5rem 0;
    background-color: #e9eced;
}

.color {
    padding: 4.5rem 0;
    color: #ffffff;
}

.flex-block {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -ms-flexbox;
    display: flex;
}

.text-notice-line {
    display: inline-block;
    position: relative;
}

.text-notice-line:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1.5rem;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.list {
    position: relative;
    font-size: 1rem;
    line-height: 1.5rem;
}

.list li i {
    font-size: 1.25rem;
    font-weight: 700;
}

/*
* 2. Typography
*/
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-style: inherit;
}

h1, .h1 {
    font-size: 3.815rem;
    line-height: 3rem;
    margin: 0 0 1.5rem 0;
    font-weight: 700;
}

h2, .h2 {
    font-size: 2.441rem;
    line-height: 3rem;
    margin: 0 0 1.5rem 0;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

h3, .h3 {
    font-size: 1.25rem;
    line-height: 1.5rem;
    margin: 0 0 0 0;
    font-weight: 700;
    text-transform: uppercase;
}

h4, .h4 {
    font-size: 1.25rem;
    line-height: 1.5rem;
    margin: 1.5rem 0;
    font-weight: 700;
}

h5, .h5 {
    font-size: 1.25rem;
    line-height: 1.5rem;
    margin: 1.5rem 0;
}

h6, .h6 {
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 1.5rem 0 0 0;
}

p {
    font-size: 1rem;
    line-height: 2.5rem;
}

p, ul, ol, pre, table, blockquote {
    margin-top: 0;
    margin-bottom: 1.5rem;
    /*padding-left: 3rem;*/
}

ul ul, ol ol, ul ol, ol ul {
    margin-left: 1.5rem;
}

a {
    cursor: pointer;
}

a:hover, a:focus, a:active, a:hover:active {
    text-decoration: none;
}

@media (max-width: 992px) {
    html {
        font-size: 90%;
    }
}

/*
* 3. Preload
*/
#page-preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #e9eced;
    z-index: 100;
}

#page-preloader .circular {
    -webkit-animation: rotate 2s linear infinite;
    -moz-animation: rotate 2s linear infinite;
    -o-animation: rotate 2s linear infinite;
    animation: rotate 2s linear infinite;
    height: 50px;
    left: 50%;
    position: absolute;
    top: 50%;
    transition: all 0.2s ease;
    transform: translate(-50%, -50%) rotate(360deg);
    width: 50px;
    z-index: 4;
}

#page-preloader .path {
    stroke-dasharray: 1, 500;
    stroke-dashoffset: 0;
    -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    -moz-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    -o-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    stroke-linecap: round;
}

/*
* 4. Buttons
*/
.button {
    display: inline-block;
    position: relative;
    height: 3rem;
    padding: 0.75rem 2rem;
    border: none;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
    outline: none;
    cursor: pointer;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-transform: perspective(1px) translateZ(0);
    -moz-transform: perspective(1px) translateZ(0);
    -ms-transform: perspective(1px) translateZ(0);
    -o-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
}

.button:before {
    content: "";
    position: absolute;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    -webkit-transform: skewX(-7deg);
    -moz-transform: skewX(-7deg);
    -ms-transform: skewX(-7deg);
    -o-transform: skewX(-7deg);
    transform: skewX(-7deg);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.button:before:hover {
    color: #ffffff;
}

.button:hover:before {
    left: 0;
}

.button:focus, .button:active:focus, .button:focus, .button:active {
    color: #ffffff;
}

.action-button-nav {
    font-size: 0.8rem;
    line-height: 1.5rem;
    padding: 0 0.75rem;
    margin: 0.75rem 0;
    height: 1.5rem;
}

.order-button {
    margin-top: 1.5rem;
    padding: 0.75rem 3rem;
}

.submit-button {
    display: inline;
    margin-left: 0;
    -webkit-border-radius: 0 25px 25px 0;
    -moz-border-radius: 0 25px 25px 0;
    border-radius: 0 25px 25px 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    height: 46px;
    vertical-align: baseline;
}

.check {
    position: relative;
    top: 0.375rem;
    stroke-dasharray: 140;
    stroke-dashoffset: 140;
    animation: fill 1.5s linear normal;
    animation-fill-mode: forwards;
}

/*
* 5. Header
*/
.header-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.header-container .header-content {
    height: 100vh;
}

.header-container .header-content .screen-container {
    position: relative;
    height: 100vh;
}

.header-container .header-content .trapeze-bg {
    position: absolute;
    top: 0px;
    left: -15%;
    width: 65%;
    height: 100%;
    background-color: #F1F1E6;
    -webkit-transform: skewX(-7deg);
    -moz-transform: skewX(-7deg);
    -ms-transform: skewX(-7deg);
    -o-transform: skewX(-7deg);
    transform: skewX(-7deg);
}

.header-container .header-content .title-center-content {
    position: relative;
    width: 100%;
    top: 50vh;
    left: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.header-container .header-content .title-text {
    position: relative;
    padding: 0 4.5rem 0 0;
    top: 229px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.header-container .header-content .title-product {
    position: relative;
    text-align: center;
}

.header-container .header-content .title-product img {
    position: relative;
    max-width: 27rem;
    z-index: 2;
}

.header-container .header-content .title-product span {
    position: absolute;
    left: 40%;
    top: 7rem;
    margin-top: 9rem;
    font-size: 7.451rem;
    line-height: 6rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #F1F1E6;
    opacity: 0.85;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    cursor: default;
    z-index: 1;
}

.header-container .header-content .animation-right {
    -webkit-animation: move-right 0.9s;
    -moz-animation: move-right 0.9s;
    -o-animation: move-right 0.9s;
    animation: move-right 0.9s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;
}

.header-container .header-content .animation-left img {
    -webkit-animation: move-left 0.9s;
    -moz-animation: move-left 0.9s;
    -o-animation: move-left 0.9s;
    animation: move-left 0.9s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;
}

.header-container .header-content .scroll-link {
    position: absolute;
    right: 0;
    bottom: 4.5rem;
    padding-right: 1.5rem;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.header-container .header-content .scroll-link a {
    font-size: 0.8rem;
    line-height: 1.5rem;
    font-weight: 700;
    color: #ffffff;
    padding-left: 0.75rem;
}

.header-container .header-content .scroll-link a:before {
    content: '';
    position: absolute;
    width: 3rem;
    height: 1px;
    bottom: 0.75rem;
    left: -3rem;
    background: #ffffff;
}

.header-container .header-content .scroll-link a:after {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    bottom: 0.75rem;
    left: -3rem;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.header-container .header-content .scroll-link a:hover:after {
    width: 3rem;
}

.counter {
    position: relative;
    width: 100%;
    float: left;
}

.funded {
    position: relative;
    float: left;
    vertical-align: baseline;
}

.total-score {
    position: relative;
    margin: 0;
    font-size: 1.563rem;
    line-height: 3rem;
    font-weight: 700;
    text-align: center;
}

.total-score:after {
    content: '$';
}

.score-graph {
    position: relative;
    width: 100%;
    float: left;
    height: 0.75rem;
    margin-bottom: 3rem;
    background-color: #ff732a;
    border-radius: 6px;
    transition: 0.4s ease-in-out;
}

.score-graph:before,
.score-graph:after {
    position: absolute;
    top: 0.75rem;
    color: #c7d2d6;
    font-size: 0.8rem;
    line-height: 1.5rem;
    font-style: italic;
}

.score-graph .score-graph-bar {
    position: relative;
    height: 0.75rem;
    width: 100%;
    background: #e9eced;
    float: right;
}

.score-graph .score-graph-bar:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 0.75rem;
    background-color: #c7d2d6;
    top: 0;
    left: 0;
    border-radius: 0 6px 6px 0;
}

.score-graph .score-graph-value {
    position: absolute;
    width: 100%;
    top: 0.75rem;
    color: #c7d2d6;
    font-size: 0.8rem;
    line-height: 1.5rem;
    font-style: italic;
}

.score-graph .score-graph-value .start-value {
    position: absolute;
    left: 0;
    top: 0;
}

.score-graph .score-graph-value .end-value {
    position: absolute;
    right: 0;
    top: 0;
}

.title-btn {
    position: relative;
    width: 100%;
    float: left;
}

.header-form {
    position: relative;
    padding: 0 0 1.5rem 0;
    margin: 0;
}

.header-form input {
    height: 46px;
    margin: 0;
    border-right: none;
    -webkit-border-radius: 25px 0 0 25px;
    -moz-border-radius: 25px 0 0 25px;
    border-radius: 25px 0 0 25px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.header-form .nf-error-message {
    bottom: 0;
    text-align: left;
}

.header-form .nf-send, .header-form .nf-success {
    margin: 0;
}

/*
* 6. Navigation
*/
.navbar {
    width: 100%;
    top: 0;
    left: 0;
    min-height: 3rem;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.navbar > .container .navbar-brand {
    margin: 0;
}

.navbar-brand {
    position: relative;
    padding: 0.75rem 15px;
    font-size: 1rem;
    line-height: 1.5rem;
    height: 3rem;
    z-index: 10;
}

.logo-promo-text {
    display: inline-block;
    position: relative;
    font-size: 0.8rem;
    line-height: 1.5rem;
    padding-left: 8px;
    margin-left: 8px;
}

.logo-promo-text:before {
    content: '';
    position: absolute;
    left: 0;
    width: 2px;
    height: 100%;
    -webkit-transform: skew(-7deg, 0);
    -moz-transform: skew(-7deg, 0);
    -ms-transform: skew(-7deg, 0);
    -o-transform: skew(-7deg, 0);
    transform: skew(-7deg, 0);
}

.navbar-default {
    background-color: transparent;
    border: 0;
    /*ovo smo promenili zbog crne tacke sa crne boje u transparent*/
    color: transparent;
    z-index: 15;
}

.navbar-default .navbar-brand {
    color: #222222;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:active {
    color: #222222;
}

.navbar-default .navbar-nav > li > a {
    color: #ffffff;
    padding: 0.75rem 0;
    margin: 0 0.75rem;
    font-size: 0.8rem;
    line-height: 1.5rem;
    text-transform: uppercase;
    z-index: 5;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #222222;
}

.navbar-default .navbar-nav > li > a:before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: 0.75rem;
    z-index: -1;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.navbar-default .navbar-nav > li > a:hover:before {
    width: 100%;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:active {
    color: #ffffff;
}

.navbar-default .navbar-nav > li.current > a {
    color: #f9c80e;
}

.navbar-default .navbar-nav > li.current > a:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0.75rem;
    z-index: -1;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.navbar-default .navbar-toggle {
    border: none;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

.navbar-top {
    position: absolute;
}

.navbar-fix {
    position: fixed;
}

.navbar-fix .navbar-brand {
    color: #ffffff;
}

.navbar-fix .navbar-brand:hover, .navbar-fix .navbar-brand:focus, .navbar-fix .navbar-brand:active {
    color: #ffffff;
}

.nav-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 0 2px 30px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 2px 30px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.3);
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.top-nav {
    margin-top: -4.5rem;
}

.fix-nav {
    margin-top: 0;
}

.navbar-button {
    float: right;
    margin-left: 1.5rem;
}

.navbar-button .ul-btn {
    margin: 0;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 0;
    margin: 0;
    color: #ffffff;
    background-color: transparent;
    background-image: none;
    border: none;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.nav-icon {
    position: relative;
    width: 1.25rem;
    height: 1.5rem;
    margin: 0.75rem 0 0.75rem 0.75rem;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.15);
    -moz-transition: 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.15);
    -o-transition: 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.15);
    transition: 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.15);
    cursor: pointer;
}

.nav-icon span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #ffffff;
    opacity: 1;
    left: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.15);
    -moz-transition: 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.15);
    -o-transition: 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.15);
    transition: 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.15);
}

.nav-icon span:nth-child(1) {
    top: 5px;
}

.nav-icon span:nth-child(2),
.nav-icon span:nth-child(3) {
    top: 10px;
}

.nav-icon span:nth-child(4) {
    top: 15px;
}

.nav-icon.open span:nth-child(1) {
    top: 10px;
    opacity: 0;
}

.nav-icon.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.nav-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.nav-icon.open span:nth-child(4) {
    top: 10px;
    opacity: 0;
}

.navbar-page-top {
    position: fixed !important;
    -webkit-box-shadow: 0 2px 30px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 2px 30px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.3);
}

.navbar-page-top .navbar-brand {
    color: #ffffff;
}

/*
* 7. About
*/
.about {
    position: relative;
}

.about .about-content {
    text-align: left;
    content: #ffffff;
}

.about .about-content h2 {
    text-align: left;
}

.about .about-content span {
    position: absolute;
    font-size: 7.451rem;
    line-height: 6rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #f9c80e;
    opacity: 1;
    cursor: default;
    z-index: 1;
}

.about .about-img {
    text-align: right;
}

/*
* 8. Technologies
*/
.technologies {
    position: relative;
    padding: 4.5rem 0;
    background: url(../images/technoligies.jpg) center no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #333e50;
    color: #ffffff;
}

.technologies .overlay-tech {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #333e50;
    opacity: 0.8;
}

.technologies .tech-container {
    position: relative;
}

.tech-block {
    margin-top: 1.5rem;
}

.tech-block p {
    margin: 0;
}

.tech-block i {
    font-size: 1.953rem;
    line-height: 3rem;
}

/*
* 9. Info
*/
.info-section {
    position: relative;
}

.info-section .info-img {
    text-align: center;
}

.info-section .info-img img {
    max-width: 18rem;
}

.info-section .info-img .info-left-ui {
    position: absolute;
    top: 0;
    left: 65%;
    max-width: 7.5rem;
}

.info-section .info-img .info-left-ui .left-ui-1 {
    max-width: 7.5rem;
    margin-bottom: 7px;
}

.info-section .info-img .info-left-ui .left-ui-2 {
    max-width: 7.5rem;
}

.info-section .info-content {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
}

.info-section .info-content h2 {
    text-align: left;
}

/*
* 10. Features
*/
.features i {
    font-size: 1.953rem;
    line-height: 3rem;
}

.feature-img {
    text-align: center;
}

.feature-img img {
    margin-top: 1.5rem;
    max-width: 400px;
}

.feature-icons .feature {
    margin-top: 1.5rem;
}

.feature-icons .feature p {
    margin: 0;
}

.feature-icons .feature-left {
    text-align: right;
}

/*
* 11. Gallery
*/
.gallery {
    position: relative;
    background-color: #F1F1E6;
}

.gallery .trapeze-gallery-bg {
    position: absolute;
    top: 0px;
    left: -17%;
    width: 70%;
    height: 100%;
    background-color: #F1F1E6;
    -webkit-transform: skewX(-7deg);
    -moz-transform: skewX(-7deg);
    -ms-transform: skewX(-7deg);
    -o-transform: skewX(-7deg);
    transform: skewX(-7deg);
    z-index: 5;
}

.gallery-content {
    position: relative;
    float: left;
    width: 50%;
    height: 33rem;
    padding: 4.5rem 15px;
    text-align: left;
    z-index: 5;
}

.gallery-content h2 {
    text-align: left;
}

.gallery-content .gallery-tagline {
    position: absolute;
    left: 0;
    bottom: 4.5rem;
    padding: 0 15px;
    z-index: 0;
}

.gallery-content .gallery-tagline span {
    font-size: 7.451rem;
    line-height: 6rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #f9fcfd;
    opacity: 1;
    cursor: default;
}

.gallery-img {
    position: absolute;
    float: right;
    width: 50%;
    right: 0;
    height: 33rem;
    background: #e9eced;
    padding: 0;
}

.gallery-img .slider {
    position: relative;
    width: 100%;
    height: 100% !important;
    margin: 0;
    padding: 0;
    background-color: #e9eced;
    overflow: hidden;
    z-index: 1;
}

.gallery-img .slider .slides {
    height: 100% !important;
}

.gallery-img .slider .slides li {
    width: 100%;
    height: 100% !important;
    margin: 0;
    padding: 0;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
}

.gallery-img .slider .slider-bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #333e50;
    opacity: 0.4;
    z-index: 5;
}

.gallery-img .slider .flex-caption {
    position: absolute;
    left: 7.5rem;
    top: 4.5rem;
    color: #ffffff;
    z-index: 100;
}

.gallery-img .slider .flex-caption h3 {
    font-size: 2.441rem;
    line-height: 3rem;
    margin: 0 0 1.5rem 0;
    font-weight: 700;
    text-transform: uppercase;
}

.gallery-img .slider .flex-caption p {
    max-width: 50%;
}

.gallery-img .slider .flex-direction-nav {
    /*position: absolute;*/
    bottom: 1.5rem;
    left: 3rem;
    width: 6rem;
    height: 3rem;
    z-index: 10;
}

.gallery-img .slider .flex-direction-nav a {
    width: 3rem;
    height: 3rem;
    top: 0;
    margin: 0;
    text-align: center;
    overflow: visible;
}

.gallery-img .slider .flex-direction-nav a:before {
    font-family: "simple-line-icons";
    font-size: 1.953rem;
    line-height: 3rem;
}

.gallery-img .slider .flex-direction-nav .flex-prev, .gallery-img .slider .flex-direction-nav .flex-next {
    /*opacity: 1;*/
    display: none;
}

.gallery-img .slider .flex-direction-nav .flex-prev {
    left: 0;
}

.gallery-img .slider .flex-direction-nav .flex-prev:before {
    content: '\e07a';
}

.gallery-img .slider .flex-direction-nav .flex-next {
    /*right: 0;*/
}

.gallery-img .slider .flex-direction-nav .flex-next:before {
    /*content: '\e079';*/
}

/*
* 12. Products
*/
/*** 12.1 Layout 1 and Layout 2 ***/
.product {
    text-align: center;
    color: #ffffff;
    margin-top: 1.5rem;
}

.product p {
    margin-bottom: 0;
}

.product span {
    position: relative;
    padding: 0 5px;
    font-size: 1.953rem;
    line-height: 3rem;
    font-weight: 700;
}

.product .product-block {
    position: relative;
    background-color: #e9eced;
    padding: 3rem 0;
    overflow: hidden;
}

.product .product-block .product-bg {
    position: absolute;
    top: -3rem;
    left: 0;
    width: 100%;
    height: 18rem;
    -webkit-transform: skewY(-7deg);
    -moz-transform: skewY(-7deg);
    -ms-transform: skewY(-7deg);
    -o-transform: skewY(-7deg);
    transform: skewY(-7deg);
    overflow: hidden;
    z-index: 0;
}

.product .product-block .product-bg .product-bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 21rem;
    background: url(../images/product.jpg) center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-transform: skewY(7deg);
    -moz-transform: skewY(7deg);
    -ms-transform: skewY(7deg);
    -o-transform: skewY(7deg);
    transform: skewY(7deg);
}

.product .product-block .product-bg .product-bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 21rem;
    background-color: #333e50;
    opacity: 0.8;
}

.product .product-block .product-content {
    position: relative;
    z-index: 1;
}

.product .product-block .bnt-block {
    width: 100%;
    float: left;
    text-align: center;
    margin-top: 3rem;
}

.product .product-block .product-img {
    margin: 1.5rem 0 0 0;
}

.product .product-block .product-img img {
    display: inline-block;
    text-align: center;
    max-width: 15rem;
    max-height: 15rem;
}

.product .product-block .bnt-block {
    width: 100%;
    float: left;
    text-align: center;
}

.product .product-block .sale:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    top: 18px;
    left: 0;
}

.gray .product-block {
    background-color: #f9fcfd;
}

/*** 12.2 Layout 3 ***/
.product-l2 {
    position: relative;
    margin-top: 1.5rem;
}

.product-l2 .product-l2-block {
    position: relative;
    background-color: #e9eced;
    padding: 3rem 0;
    overflow: hidden;
}

.product-l2 span {
    position: relative;
    padding: 0;
    font-size: 1.953rem;
    line-height: 3rem;
    font-weight: 700;
}

.product-l2 .desc {
    padding-top: 1.5rem;
}

.product-l2 .product-l2-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.product-l2 .product-l2-bg .bg-img {
    position: absolute;
    top: 0px;
    left: -20%;
    width: 65%;
    height: 100%;
    -webkit-transform: skewX(-7deg);
    -moz-transform: skewX(-7deg);
    -ms-transform: skewX(-7deg);
    -o-transform: skewX(-7deg);
    transform: skewX(-7deg);
}

.product-l2 .product-l2-bg .bg-content {
    position: absolute;
    height: 100%;
    width: 55%;
    right: 0;
    background-color: transparent;
}

.product-l2 .product-l2-img {
    width: 45%;
    height: 100%;
    text-align: center;
    padding: 0;
    z-index: 5;
    float: left;
}

.product-l2 .product-l2-img img {
    max-width: 14.25rem;
    max-height: 14.25rem;
}

.product-l2 .product-l2-img .product-l2-container {
    position: absolute;
    width: 45%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.product-l2 .product-l2-content {
    position: relative;
    width: 100%;
    padding: 0 0 0 45%;
}

.product-l2 .product-l2-content .product-info {
    padding: 0 3rem 0 3rem;
}

.product-l2 .product-l2-content .product-info .version {
    color: #a2a2a2;
}

.product-l2 .product-l2-content .product-info .sale {
    padding: 0 5px;
}

.product-l2 .product-l2-content .product-info .sale:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    top: 18px;
    left: 0;
}

.gray .product-l2 .product-l2-block {
    background-color: #f9fcfd;
}

/*** 12.3 Order form ***/
.order {
    position: relative;
    color: #222222;
    background: #fff;
    /*max-width: 45rem;*/
    min-width: 320px;
    margin: 0 auto;
    padding: 0 4.5rem 2.8rem 4.5rem;
    overflow: hidden;
}

.order .order-form-bg {
    position: absolute;
    top: -4.5rem;
    left: 0;
    width: 100%;
    height: 21rem;
    -webkit-transform: skewY(-7deg);
    -moz-transform: skewY(-7deg);
    -ms-transform: skewY(-7deg);
    -o-transform: skewY(-7deg);
    transform: skewY(-7deg);
    overflow: hidden;
    z-index: 0;
}

.order .order-form-header {
    position: relative;
    width: 100%;
    margin-bottom: 4.5rem;
}

.order .order-form-header .order-img {
    max-width: 9rem;
    float: left;
    text-align: center;
}

.order .order-form-header .order-img img {
    display: inline-block;
    width: auto;
    max-width: 9rem;
    height: auto;
}

.order .order-form-header .order-desc {
    padding-left: 10.5rem;
    color: #ffffff;
}

.order .order-form-header .order-desc h2 {
    text-align: left;
    font-size: 1.563rem;
    line-height: 1.5rem;
    margin: 0;
}

.order .order-form-header .order-desc .version {
    margin-bottom: 0;
}

.order .order-form-header .order-desc span {
    position: relative;
    font-size: 1.953rem;
    line-height: 3rem;
    font-weight: 700;
}

.order .order-form-content input {
    width: 100%;
    padding: 0.75rem;
    margin: 1.5rem 0 0 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid #ccc;
}

.order .order-form-content select {
    position: relative;
    width: 100%;
    height: 3rem;
    padding: 0.75rem;
    margin: 1.5rem 0 0 0;
    background-color: #f9fcfd;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: normal;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.order .order-form-content h3 {
    margin-top: 1.5rem;
}

.order .order-form-content p {
    text-align: center;
}

.order .order-form-content .order-button-block {
    text-align: center;
}

.order .order-field-error {
    border-color: #cd173E !important;
}

.order .order-send {
    position: relative;
    display: block;
    width: 190px;
    height: 3rem;
    margin: 1.5rem auto 0;
    padding: 0.75rem 3rem;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    overflow: hidden;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.order .order-send svg {
    margin-top: -0.75rem;
}

.mfp-close-btn-in .mfp-close {
    color: #ffffff;
    opacity: 1;
}

/*** Overlay at Start ***/
.mfp-fade.mfp-bg {
    opacity: 0;
    background-color: #e9eced;
    overflow-y: scroll;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

/*** Overlay Animate in ***/
.mfp-fade.mfp-bg.mfp-ready {
    opacity: 0.95;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

/*** Overlay Animate out ***/
.mfp-fade.mfp-bg.mfp-removing {
    opacity: 0;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

/*** Content at Start ***/
.mfp-fade.mfp-wrap .mfp-content {
    opacity: 0;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px);
}

/*** Content Animate it ***/
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
}

/*** Content Animate out ***/
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
    opacity: 0;
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    transform: translateY(-30px);
}

/*
* 13. Video
*/
.video {
    position: relative;
    width: 100%;
    height: 30rem;
    background-color: #e9eced;
    /*background: url(../images/video.jpg) center no-repeat;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.video .overlay-video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #333e50;
    opacity: 0.8;
    z-index: 5;
}

.video .play {
    position: relative;
    text-align: center;
    width: 40px;
    margin: 190px auto 0;
    z-index: 10;
}

.video .play i {
    font-size: 2.441rem;
    line-height: 3rem;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.video .play span {
    font-size: 0.8rem;
    line-height: 1.5rem;
    text-transform: uppercase;
}

/*** Background Youtube Video ***/
.ytplayer-container {
    position: absolute;
    height: 30rem;
    top: 0;
    overflow: hidden;
    z-index: 0;
}

.video-mobile-screen {
    background: url(../images/video.jpg) center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.waves-block {
    position: absolute;
    width: 24rem;
    height: 24rem;
    left: 50%;
    margin-left: -12rem;
    margin-top: 3rem;
    z-index: 10;
}

.waves-block .waves {
    position: absolute;
    width: 24rem;
    height: 24rem;
    background: rgba(168, 224, 232, 0.11);
    opacity: 0;
    -webkit-border-radius: 320px;
    -moz-border-radius: 320px;
    border-radius: 320px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-animation: waves 3s ease-in-out infinite;
    -moz-animation: waves 3s ease-in-out infinite;
    -o-animation: waves 3s ease-in-out infinite;
    animation: waves 3s ease-in-out infinite;
}

.waves-block .wave-1 {
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    -o-animation-delay: 0s;
    animation-delay: 0s;
}

.waves-block .wave-2 {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;
}

.waves-block .wave-3 {
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    -o-animation-delay: 2s;
    animation-delay: 2s;
}

/*
* 14. FAQ
*/
.faq h4 {
    margin-top: 0;
}

.faq i {
    font-size: 0.8rem;
}

.faq p {
    margin: 1.5rem 0 0 0;
}

.faq .answer {
    margin-top: 1.5rem;
}

/*
* 15. Download
*/
.download {
    position: relative;
    padding: 4.5rem 0;
    background: url(../images/download.jpg) center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #ffffff;
}

.download h2 {
    text-align: left;
    font-size: 2.441rem;
    line-height: 3rem;
}

.download ul li {
    display: inline-block;
    margin-right: 1.5rem;
}

.download ul li img {
    max-height: 3rem;
}

.download .overlay-download {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #333e50;
    opacity: 0.8;
}

.download .download-img {
    text-align: center;
}

.download .download-img img {
    max-height: 18rem;
    max-width: 18rem;
}

/*
* 16. Team
*/
.team-member {
    position: relative;
    margin-top: 1.5rem;
    overflow: hidden;
}

.team-member .team-block {
    position: relative;
    text-align: center;
    background-color: #e9eced;
    padding-bottom: 3rem;
}

.team-member .team-block h3 {
    margin-top: 1.5rem;
    text-transform: none;
}

.team-member .team-block .team-img-block {
    position: relative;
    top: -1.5rem;
    left: 0;
    width: 100%;
    height: 15rem;
    background-color: #f9fcfd;
    -webkit-transform: skewY(-7deg);
    -moz-transform: skewY(-7deg);
    -ms-transform: skewY(-7deg);
    -o-transform: skewY(-7deg);
    transform: skewY(-7deg);
    overflow: hidden;
    z-index: 0;
}

.team-member .team-block .team-img-block .team-img {
    position: relative;
    -webkit-transform: skewY(7deg);
    -moz-transform: skewY(7deg);
    -ms-transform: skewY(7deg);
    -o-transform: skewY(7deg);
    transform: skewY(7deg);
    top: 1.5rem;
}

.team-member .team-block .team-img-block .team-img img {
    width: 100%;
}

.team-member .team-block .team-img-block .team-img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 15rem;
    background-color: #333e50;
    opacity: 0.2;
}

.gray .team-member .team-block {
    background-color: #f9fcfd;
}

/*
* 17. Newsletter
*/
.newsletter {
    text-align: center;
}

.newsletter input {
    width: 40%;
    height: 46px;
    margin-right: 0;
    border-right: none !important;
    -webkit-border-radius: 25px 0 0 25px;
    -moz-border-radius: 25px 0 0 25px;
    border-radius: 25px 0 0 25px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.newsletter .newsletter-notice {
    font-size: 0.8rem;
    line-height: 1.5rem;
}

.newsletter .form-block {
    text-align: center;
}

.nf-send, .nf-success {
    position: relative;
    display: inline-block;
    width: 120px;
    height: 46px;
    margin: 1.5rem 0;
    padding: 0.75rem 0;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    vertical-align: top;
    overflow: hidden;
    -webkit-border-radius: 0 25px 25px 0;
    -moz-border-radius: 0 25px 25px 0;
    border-radius: 0 25px 25px 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.nf-send svg, .nf-success svg {
    margin-top: -0.75rem;
}

.nf-error-message {
    font-size: 0.8rem;
    line-height: 1.5rem;
    position: absolute;
    left: 0;
    bottom: 1.5rem;
    width: 100%;
    text-align: center;
    color: #cd173E;
    opacity: 0;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.nf-error {
    opacity: 1;
}

/*
* 18. Reviews
*/
.reviews .review {
    position: relative;
    margin: 1.5rem 0;
}

.reviews .review:before {
    position: absolute;
    top: -1.5rem;
    content: '\f10d';
    font-family: FontAwesome;
    font-size: 1.953rem;
    line-height: 3rem;
}

.reviews .review p {
    padding: 0 3rem;
}

.reviews .review .author {
    padding: 0 3rem;
}

.reviews .review .author img {
    width: 3rem;
    height: 3rem;
    float: left;
    margin-right: 0.75rem;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.reviews .review .author h4 {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
}

.reviews .review .author p {
    font-size: 1rem;
    color: #a2a2a2;
}

.reviews .customers h3 {
    text-align: center;
}

.reviews .customers .customer {
    margin-top: 1.5rem;
    text-align: center;
}

.reviews .customers .customer img {
    height: 3rem;
}

/*CUSTOM */
.height35 {
    height: 35rem;
}

.height38 {
    height: 38.5rem;
}

/*
* 18. Reviews
*/
.reviews1 .review1 {
    position: relative;
    margin: 1.5rem 0;
    padding-bottom: 2rem;
}

.reviews1 .review1:before {
    position: absolute;
    top: -1.5rem;
    /*content: '\f493';*/
    font-family: FontAwesome;
    font-size: 1.953rem;
    line-height: 3rem;
    color: #f9c80e;
}

.reviews1 .review1 p {
    padding: 0 3rem;
}

.reviews1 .review1 .author {
    padding: 0 3rem;
}

.reviews1 .review1 .author img {
    width: 3rem;
    height: 3rem;
    float: left;
    margin-right: 0.75rem;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.reviews1 .review1 .author h4 {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
}

.reviews1 .review1 .author p {
    font-size: 1rem;
    color: #a2a2a2;
}

.reviews1 .customers h3 {
    text-align: center;
}

.reviews1 .customers .customer {
    margin-top: 1.5rem;
    text-align: center;
}

.reviews1 .customers .customer img {
    height: 3rem;
}

.reviews2 .review2 {
    position: relative;
    margin: 1.5rem 0;
    padding-bottom: 2rem;
}

.reviews2 .review2:before {
    position: absolute;
    top: -1.5rem;
    content: '\f479';
    font-family: FontAwesome;
    font-size: 1.953rem;
    line-height: 3rem;
    color: #f9c80e;
}

.reviews2 .review2 p {
    padding: 0 3rem;
}

.reviews2 .review2 .author {
    padding: 0 3rem;
}

.reviews2 .review2 .author img {
    width: 3rem;
    height: 3rem;
    float: left;
    margin-right: 0.75rem;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.reviews2 .review2 .author h4 {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
}

.reviews2 .review2 .author p {
    font-size: 1rem;
    color: #a2a2a2;
}

.reviews2 .customers h3 {
    text-align: center;
}

.reviews2 .customers .customer {
    margin-top: 1.5rem;
    text-align: center;
}

.reviews2 .customers .customer img {
    height: 3rem;
}

/*
* 19. Call To Action
*/
.cta {
    position: relative;
    text-align: center;
}

.cta .cta-parallax-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background: url(../images/pattern-1.png) top repeat;*/
    opacity: 0.03;
}

.cta .cta-parallax-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background: url(../images/pattern-2.png) top repeat;*/
    opacity: 0.03;
}

/*
* 20. Footer
*/
.footer {
    position: relative;
    background-color: #e9eced;
    color: #ffffff;
    padding: 0;
    overflow: hidden;
}

.footer h2 {
    font-size: 1.563rem;
    line-height: 3rem;
    margin-bottom: 0;
    text-align: left;
}

.footer .trapeze-footer-bg {
    position: absolute;
    top: 0px;
    left: -17%;
    width: 70%;
    height: 100%;
    background-color: #333e50;
    -webkit-transform: skewX(-7deg);
    -moz-transform: skewX(-7deg);
    -ms-transform: skewX(-7deg);
    -o-transform: skewX(-7deg);
    transform: skewX(-7deg);
}

.footer .footer-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333e50;
}

.footer .footer-bg .footer-bg-overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: #333e50;
    opacity: 0.8;
}

.footer .footer-bg .footer-bg-img {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    /*background: url(../images/footer.jpg) center no-repeat;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.footer .footer-first-line {
    position: relative;
    padding: 4.5rem 15px;
    z-index: 5;
}

.footer .footer-first-line .footer-contacts {
    padding-left: 6rem;
}

.footer .footer-second-line {
    position: relative;
    padding: 0 15px 1.5rem 15px;
    z-index: 5;
}

.footer .footer-social-icons {
    margin: 0;
}

.footer .footer-social-icons li {
    display: inline;
    font-size: 1.25rem;
    line-height: 1.5rem;
    padding-right: 0.75rem;
}

.footer .footer-social-icons li a {
    color: #ffffff;
    padding: 0;
}

.footer .footer-about h2 {
    text-transform: none;
}

.footer .footer-bottom-links {
    font-size: 0.8rem;
    line-height: 1.5rem;
}

.footer .footer-bottom-links ul {
    margin-bottom: 0;
}

.footer .footer-bottom-links ul li {
    display: inline;
}

.footer .footer-bottom-links .copyright {
    color: #ffffff;
    font-size: 0.8rem;
    line-height: 1.5rem;
}

/*
* 21. Single Page
*/
.page-header-container {
    position: relative;
    width: 100%;
    height: 18rem;
    overflow: hidden;
}

.page-header-container .page-header-content {
    height: 18rem;
    padding-top: 9rem;
    background-color: #e9eced;
}

.page-header-container .page-header-content h2 {
    position: relative;
    color: #222222;
    z-index: 5;
}

.page-content {
    float: none;
    margin: 0 auto;
    padding-top: 4.5rem;
    padding-bottom: 3rem;
}

.page-content h3 {
    margin-bottom: 1.5rem;
}

.page-content img {
    height: auto;
    max-width: 100%;
}

.page-content .alignleft {
    float: left;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
}

.page-content .alignright {
    float: right;
    margin-left: 1.5rem;
    margin-bottom: 1.5rem;
}

/*
* 22. Media
*/
@media (max-width: 992px) {
    .top-nav {
        margin-top: 0;
    }

    .navbar-default .navbar-brand {
        color: #ffffff;
        padding: 0.75rem 0;
    }

    .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:active {
        color: #ffffff;
    }

    .header-container .header-content {
        height: 100%;
    }

    .header-container .header-content .title-product span {
        display: none;
    }

    .header-container {
        height: auto;
        overflow: visible;
    }

    .header-container .header-content .screen-container {
        height: auto;
    }

    .header-container .header-content .title-center-content {
        top: 0;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }

    .header-container .header-content .title-text {
        top: 0;
        padding: 7.5rem 0 0 0;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }

    .header-container .header-content .title-text h1 {
        font-size: 3.052rem;
        line-height: 3rem;
    }

    .header-container .header-content .title-product img {
        max-width: 18rem;
        padding: 3rem 0 4.5rem;
    }

    .header-container .header-content .animation-right,
    .header-container .header-content .animation-left img {
        -webkit-animation: none;
        -moz-animation: none;
        -o-animation: none;
        animation: none;
    }

    .block .block-desc {
        margin-bottom: 3rem;
    }

    .about .about-img {
        text-align: center;
    }

    .about .about-content span {
        text-align: center;
        font-size: 3.815rem;
        line-height: 3rem;
    }

    .counter {
        width: 50%;
    }

    .header-form input {
        padding-left: 0.75rem;
        padding-right: 0.75rem;
    }

    .feature-icons .feature-left {
        text-align: left;
    }

    .trapeze-gallery-bg {
        display: none;
    }

    .gallery-content {
        width: 100%;
    }

    .gallery-img {
        position: relative;
        float: left;
        width: 100%;
    }

    .gallery-img .slider {
        width: auto;
        margin-left: calc(-100vw / 2 + 735px / 2);
        margin-right: calc(-100vw / 2 + 735px / 2);
    }

    .gallery-img .slider .flex-direction-nav {
        left: 6rem;
    }

    .product .product-block .product-bg {
        top: -4.5rem;
        height: 19.5rem;
    }

    .team-member .team-block .team-img-block {
        top: -3rem;
        height: 36rem;
    }

    .team-member .team-block .team-img-block .team-img-overlay {
        height: 36rem;
    }

    .reviews .review .author {
        padding-bottom: 1.5rem;
    }

    .footer .footer-first-line .footer-about {
        padding-bottom: 3rem;
    }

    .footer .footer-first-line .footer-contacts {
        padding: 0 15px;
    }

    .footer .trapeze-footer-bg {
        width: 75%;
    }
}

@media (max-width: 767px) {
    .header-container .header-content {
        background-color: #e9eced !important;
    }

    .navbar-default .navbar-nav > li > a {
        margin: 0;
    }

    .navbar-default .navbar-nav > li > a:before,
    .navbar-default .navbar-nav > li.current > a:before {
        background-color: transparent;
        display: none;
    }

    .header-form .nf-error-message {
        text-align: center;
    }

    .counter {
        width: 100%;
    }

    .action-button-nav {
        margin-right: -15px;
    }

    .title-text {
        text-align: center;
    }

    .flex-block {
        display: block;
    }

    .info-section .info-img img {
        margin: 1.5rem 0;
    }

    .info-section .info-img .left-ui-1, .info-section .info-img .left-ui-2 {
        margin-top: 0;
    }

    .gallery-img .slider {
        margin-left: 0;
        margin-right: 0;
    }

    .gallery-img .slider .flex-caption {
        left: 3rem;
    }

    .gallery-img .slider .flex-direction-nav {
        left: 3rem;
    }

    .download-content {
        text-align: center;
    }

    .download-content h2 {
        text-align: center;
    }
}

@media (max-width: 510px) {
    .header-form input {
        width: 50%;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
    }

    .gallery-img .slider .flex-caption h3 {
        font-size: 1.563rem;
        line-height: 1.5rem;
    }

    .gallery-img .slider .flex-caption p {
        max-width: 100%;
        padding-right: 15px;
    }

    .product-l2 .product-l2-bg .bg-img {
        top: -3rem;
        left: 0;
        width: 100%;
        height: 22.5rem;
        -webkit-transform: skewY(-7deg);
        -moz-transform: skewY(-7deg);
        -ms-transform: skewY(-7deg);
        -o-transform: skewY(-7deg);
        transform: skewY(-7deg);
        overflow: hidden;
        z-index: 0;
    }

    .product-l2 .product-l2-bg .bg-content {
        height: 100%;
        width: 100%;
    }

    .product-l2 .product-l2-img {
        width: 100%;
        float: none;
        margin-bottom: 4.5rem;
    }

    .product-l2 .product-l2-img img {
        max-width: 14.25rem;
        max-height: 14.25rem;
    }

    .product-l2 .product-l2-img .product-l2-container {
        position: relative;
        width: 100%;
        top: 0;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }

    .product-l2 .product-l2-content {
        position: relative;
        width: 100%;
        padding: 0;
        text-align: center;
    }

    .download ul li img {
        margin-bottom: 1.5rem;
    }

    .team-member .team-block .team-img-block {
        top: -3rem;
        height: 25.5rem;
    }

    .team-member .team-block .team-img-block .team-img-overlay {
        height: 25.5rem;
    }

    .newsletter input {
        width: 50%;
    }

    .footer .footer-bg .footer-bg-img {
        background: none;
    }

    .footer .footer-bg .footer-bg-overlay {
        background-color: transparent;
    }

    .order {
        padding: 3rem 1.5rem;
    }

    .order .order-form-header {
        margin-bottom: 1.5rem;
    }

    .order .order-form-header .order-img {
        float: none;
        text-align: center;
        width: 100%;
        max-width: 100%;
        margin-bottom: 6rem;
    }

    .order .order-form-header .order-img img {
        display: inline-block;
        width: auto;
        max-width: 9rem;
        height: auto;
    }

    .order .order-form-header .order-desc {
        padding-left: 0;
        color: #222222;
        text-align: center;
    }

    .order .order-form-header .order-desc h2 {
        text-align: center;
    }

    .page-content .alignleft, .page-content .alignright {
        display: block;
        float: none;
        margin: 0 auto 1.5rem;
    }
}


@media only screen and (max-width: 420px) {

    .pad-1rem > .fontJustify {
        padding-left: 0;
    }

    .dhImage {
        position: relative !important;
        bottom: 0rem !important;
        left: 6.9rem !important;

    }

    .ulImage {
        position: relative !important;
        bottom: 32.2rem !important;
        left: 7rem !important;
    }


    .vImage {
        position: relative !important;
        bottom: 0rem !important;
        left: 7rem !important;

    }

    .maxImageL {
        position: relative;
        bottom: 0rem !important;
        left: 5.8rem !important;
    }

    .maxImageR {
        position: relative;
        bottom: 0rem !important;
        left: 6rem !important;
    }

    .logo-promo-text {
        display: none;
    }

    .header-form {
        margin: 0 -15px;
    }

    .header-form input {
        width: 60%;
    }

    .team-member .team-block .team-img-block {
        top: -1.5rem;
        height: 19.5rem;
    }

    .team-member .team-block .team-img-block .team-img-overlay {
        height: 19.5rem;
    }

    .fs {
        font-size: 1.3rem !important;
        top: -2rem;
    }

    .fs-desni {
        font-size: 1.3rem !important;
        top: -31rem;
    }

    .hero-text {
        font-size: 1.5rem !important;
        color: #f1f1e6;
        left: -1rem !important;
    }

    video {
        display: none;
    }

    .hero-image {
        position: relative !important;
        bottom: 0 !important;
        left: 0 !important;
        top: 4rem !important;
        width: 100% !important;
    }

    .reviews2 .review2:before {
        position: absolute;
        top: -2.5rem;
        content: '\f479';
        font-family: FontAwesome;
        font-size: 1.953rem;
        line-height: 3rem;
        color: #f9c80e;
    }

    .reviews .review:before {
        position: absolute;
        top: -2.5rem;
        content: '\f10d';
        font-family: FontAwesome;
        font-size: 1.953rem;
        line-height: 3rem;
    }

    .mob-small-font {
        font-size: 2rem;
    }

    p {
        padding-left: 0px;
    }

    .reviews2 .review2 p {
        padding: 0;
    }

    .reviews .review p {
        padding: 0;
    }

    a.buy-button.button.action-button-nav.smooth {
        left: 0 !important;
    }

    h4 {
        margin-top: 2rem;
    }

    #die-herausforderung .fs {
        left: 2.8rem !important;
    }

    #unsere-lösung .fs-desni {
        left: 5rem !important;
        top: -39rem !important;
    }

    #vorteil .fs {
        left: 8rem !important;
    }

    #unsere-lösung .fontJustify {
        position: relative;
        top: 14.4rem !important;
    }

    #order-main-price {
        position: absolute;
        color: black;
        font-size: 2rem !important;
        font-weight: 600;
        left: 2rem !important;
    }

    #order-tropfen-price {
        position: absolute;
        color: black;
        font-size: 1rem !important;
        font-weight: 600;
        left: 2rem !important;
        top: 10.5rem;
    }

    #order-spray-price {
        position: absolute;
        color: black;
        font-size: 1rem !important;
        font-weight: 600;
        left: 2rem !important;
        top: 20.4rem;
    }

    .order-img {
        text-align: right !important;
    }
}

@media only screen and (max-width: 375px) {
    .maxImageL {
        position: relative;
        bottom: 0rem !important;
        left: 4.5rem !important;
    }

    .maxImageR {
        position: relative;
        bottom: 0rem !important;
        left: 4.6rem !important;
    }

    .dhImage {
        position: relative !important;
        bottom: 0rem !important;
        left: 5.6rem !important;

    }

    .fs-desni {
        left: 4rem;
    }

    .ulImage {
        position: relative !important;
        bottom: 23.8rem !important;
        left: 5.5rem !important;

    }

    .vImage {
        position: relative !important;
        bottom: 0rem !important;
        left: 5.5rem !important;

    }

    #die-herausforderung .fs {
        left: 0.9rem !important;
    }

    #unsere-lösung .fs-desni {
        left: 3.7rem !important;
        top: -29.8rem !important;
    }

    #vorteil .fs {
        left: 6.7rem !important;
    }

    .hero-text {
        left: -1rem !important;
    }

    #unsere-lösung .fontJustify {
        position: relative;
        top: 14.4rem !important;
    }


}


.fontJustify {
    text-align: justify;
}


.white-bg {
    background-color: #fff !important;
}

.yellow-bg {
    background-color: #F1F1E6 !important;

}

.braon-nezno {
    background-color: #8b552675;
}

.vertical-picture {
    transform: translateY(20%);
}

.crveno-nezno {
    background-color: #b5000061;
}

.zeleno-nezno {
    background-color: #6c9d3b36;
}

.plava-nezna {
    background-color: #2939B92B;
}

.margin-top-20rem {
    margin-top: 8rem;
}

.article_bg {
    background-color: rgba(255, 115, 61, 0.1);
}

#vitamin-c .col-md-12.feature.feature-left,
#vitamin-c .col-md-12.feature.feature {
    margin-top: 0 !important;
}

.feature-img-rem {
    margin-top: 10rem;
}

#icons-modal {
    padding: 4rem 0;
}


.modal-body img {
    float: right;
    width: 10rem;
    height: auto;
    padding-left: 1rem;
    padding-bottom: 1rem;
}

[data-target="#modal-2"] {
    margin-bottom: 5rem;
}

[data-target="#modal-3"] {
    margin-bottom: 2rem;
}

.curcuma-center {
    padding: 12% 0;
}

[data-target="#modal-1"], [data-target="#modal-2"], [data-target="#modal-3"], [data-target="#modal-4"] {
    cursor: pointer;
}

.pulse-red {
    /*margin:100px;*/
    /*display: block;*/
    /*width: 22px;*/
    /*height: 22px;*/
    /*border-radius: 50%;*/
    /*background: #cca92c;*/
    /*cursor: pointer;*/
    /*box-shadow: 0 0 0 rgba(204,169,44, 0.4);*/
    animation: pulse-red 2s infinite;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.pulse-red:hover {
    animation: none;
}

@-webkit-keyframes pulse-red {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
    }
}

@keyframes pulse-red {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.4);
        box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
        box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
    }
}

.pulse-brown {
    /*margin:100px;*/
    /*display: block;*/
    /*width: 22px;*/
    /*height: 22px;*/
    /*border-radius: 50%;*/
    /*background: #cca92c;*/
    /*cursor: pointer;*/
    /*box-shadow: 0 0 0 rgba(204,169,44, 0.4);*/
    animation: pulse-brown 2s infinite;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.pulse-brown:hover {
    animation: none;
}

@-webkit-keyframes pulse-brown {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(103, 49, 10, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(103, 49, 10, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(103, 49, 10, 0);
    }
}

@keyframes pulse-brown {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(103, 49, 10, 0.4);
        box-shadow: 0 0 0 0 rgba(103, 49, 10, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(103, 49, 10, 0);
        box-shadow: 0 0 0 10px rgba(103, 49, 10, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(103, 49, 10, 0);
        box-shadow: 0 0 0 0 rgba(103, 49, 10, 0);
    }
}

.pulse-green {
    /*margin:100px;*/
    /*display: block;*/
    /*width: 22px;*/
    /*height: 22px;*/
    /*border-radius: 50%;*/
    /*background: #cca92c;*/
    /*cursor: pointer;*/
    /*box-shadow: 0 0 0 rgba(204,169,44, 0.4);*/
    animation: pulse-green 2s infinite;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.pulse-green:hover {
    animation: none;
}

@-webkit-keyframes pulse-green {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(10, 131, 28, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(10, 131, 28, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(10, 131, 28, 0);
    }
}

@keyframes pulse-green {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(10, 131, 28, 0.4);
        box-shadow: 0 0 0 0 rgba(10, 131, 28, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(10, 131, 28, 0);
        box-shadow: 0 0 0 10px rgba(10, 131, 28, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(10, 131, 28, 0);
        box-shadow: 0 0 0 0 rgba(10, 131, 28, 0);
    }
}

.pulse-blue {
    /*margin:100px;*/
    /*display: block;*/
    /*width: 22px;*/
    /*height: 22px;*/
    /*border-radius: 50%;*/
    /*background: #cca92c;*/
    /*cursor: pointer;*/
    /*box-shadow: 0 0 0 rgba(204,169,44, 0.4);*/
    animation: pulse-blue 2s infinite;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.pulse-blue:hover {
    animation: none;
}

@-webkit-keyframes pulse-blue {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(16, 82, 138, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(16, 82, 138, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(16, 82, 138, 0);
    }
}

@keyframes pulse-blue {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(16, 82, 138, 0.4);
        box-shadow: 0 0 0 0 rgba(16, 82, 138, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(16, 82, 138, 0);
        box-shadow: 0 0 0 10px rgba(16, 82, 138, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(16, 82, 138, 0);
        box-shadow: 0 0 0 0 rgba(16, 82, 138, 0);
    }
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.video-container1 {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container1 iframe,
.video-container1 object,
.video-container1 embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
}

.pad-1rem {
    padding: 1rem;
}

.mb1r {
    margin-bottom: 1rem;
}

.pl5r {
    padding-left: 5rem;
}

h1.elegantshadow {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 62px;
    padding: 80px 50px;
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
}

h1.elegantshadow {
    color: #f9c80e;
    /*background-color: #e7e5e4;*/
    letter-spacing: 0.15em;
    text-shadow: 1px -1px 0 #767676, -1px 2px 1px #737272, -2px 4px 1px #767474, -3px 6px 1px #787777, -4px 8px 1px #7b7a7a, -5px 10px 1px #7f7d7d, -6px 12px 1px #828181, -7px 14px 1px #868585, -8px 16px 1px #8b8a89, -9px 18px 1px #8f8e8d, -10px 20px 1px #949392, -11px 22px 1px #999897, -12px 24px 1px #9e9c9c, -13px 26px 1px #a3a1a1, -14px 28px 1px #a8a6a6, -15px 30px 1px #adabab, -16px 32px 1px #b2b1b0, -17px 34px 1px #b7b6b5, -18px 36px 1px #bcbbba, -19px 38px 1px #c1bfbf, -20px 40px 1px #c6c4c4, -21px 42px 1px #cbc9c8, -22px 44px 1px #cfcdcd, -23px 46px 1px #d4d2d1, -24px 48px 1px #d8d6d5, -25px 50px 1px #dbdad9, -26px 52px 1px #dfdddc, -27px 54px 1px #e2e0df, -28px 56px 1px #e4e3e2;
}

h1.elegantshadow1 {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 42px;
    padding: 50px 30px;
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
}

h1.elegantshadow1 {
    color: #f9c80e;
    /*background-color: #e7e5e4;*/
    letter-spacing: 0.15em;
    text-shadow: 1px -1px 0 #767676, -1px 2px 1px #737272, -2px 4px 1px #767474, -3px 6px 1px #787777, -4px 8px 1px #7b7a7a, -5px 10px 1px #7f7d7d, -6px 12px 1px #828181, -7px 14px 1px #868585, -8px 16px 1px #8b8a89, -9px 18px 1px #8f8e8d, -10px 20px 1px #949392, -11px 22px 1px #999897, -12px 24px 1px #9e9c9c, -13px 26px 1px #a3a1a1, -14px 28px 1px #a8a6a6, -15px 30px 1px #adabab, -16px 32px 1px #b2b1b0, -17px 34px 1px #b7b6b5, -18px 36px 1px #bcbbba, -19px 38px 1px #c1bfbf, -20px 40px 1px #c6c4c4, -21px 42px 1px #cbc9c8, -22px 44px 1px #cfcdcd, -23px 46px 1px #d4d2d1, -24px 48px 1px #d8d6d5, -25px 50px 1px #dbdad9, -26px 52px 1px #dfdddc, -27px 54px 1px #e2e0df, -28px 56px 1px #e4e3e2;
}


h1.deepshadow {
    color: #e0dfdc;
    background-color: #333;
    letter-spacing: 0.1em;
    text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9);
}

h1.insetshadow {
    color: #202020;
    background-color: #2d2d2d;
    letter-spacing: 0.1em;
    text-shadow: -1px -1px 1px #111, 2px 2px 1px #363636;
}

h1.retroshadow {
    color: #2c2c2c;
    background-color: #d5d5d5;
    letter-spacing: 0.05em;
    text-shadow: 4px 4px 0px #d5d5d5, 7px 7px 0px rgba(0, 0, 0, 0.2);
}

@media only screen and (min-width: 421px) {
    #faq h2 {
        margin-bottom: 4rem !important;
    }

    #faq img {
        margin-bottom: 2rem;
    }

    .fs,
    .fs-desni {
        font-size: 3rem !important;
    }

    .fs-desni {
        top: 5.7rem;
    }

    .hero-image {
        display: none;
    }

    #sumFlasica,
    #sumSpray,
    #subTotal,
    #shipping,
    #total {
        width: 5rem;
    }

}

.ml3r {
    margin-left: 3rem;
}

.pud4r {
    padding: 4rem 0;
}

.mb3r {
    margin-bottom: 3rem;
}

hr.style-four {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

.hero-image {
    position: absolute;
    bottom: 10rem;
    right: 58rem;
    width: 15rem
}

.hero-tittle {
    position: absolute;
    bottom: 40rem;
    left: 40rem;
    font-size: 26px;
    line-height: 1.5;
}

@media (max-width: 1400px) {

    .hero-image {
        position: absolute;
        bottom: 10rem;
        right: 14rem;
        width: 250px
    }

    .hero-tittle {
        position: absolute;
        bottom: 20rem;
        left: 11rem;
        font-size: 26px;
        line-height: 1.5;
    }

}

@media (min-width: 1401px) and (max-width: 1650px) {

    .hero-image {
        position: absolute;
        bottom: 15rem;
        right: 14rem;
        width: 250px
    }

    .hero-tittle {
        position: absolute;
        bottom: 40rem;
        left: 19rem;
        font-size: 19px;
        line-height: 1.5;
    }

}

.text-shadow-pop-bl {
    -webkit-animation: text-shadow-pop-bl 0.6s 3s both;
    animation: text-shadow-pop-bl 0.6s 3s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-4-8 18:14:52
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-shadow-pop-bl
 * ----------------------------------------
 */
@-webkit-keyframes text-shadow-pop-bl {
    0% {
        text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555;
        -webkit-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0);
    }
    100% {
        text-shadow: -1px 1px #555555, -2px 2px #555555, -3px 3px #555555, -4px 4px #555555, -5px 5px #555555, -6px 6px #555555, -7px 7px #555555, -8px 8px #555555;
        -webkit-transform: translateX(8px) translateY(-8px);
        transform: translateX(8px) translateY(-8px);
    }
}

@keyframes text-shadow-pop-bl {
    0% {
        text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555;
        -webkit-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0);
    }
    100% {
        text-shadow: -1px 1px #555555, -2px 2px #555555, -3px 3px #555555, -4px 4px #555555, -5px 5px #555555, -6px 6px #555555, -7px 7px #555555, -8px 8px #555555;
        -webkit-transform: translateX(8px) translateY(-8px);
        transform: translateX(8px) translateY(-8px);
    }
}

.hero-text {
    font-size: 3.5rem;
    color: #f1f1e6;
    top: 27rem;
    left: 30.8rem;
    text-align: center;
}


.t-2-5r {
    top: -2.5rem;
}

.w20r {
    width: 14rem;
}

.dhImage {
    position: absolute;
    bottom: 13.5rem;
    left: 50rem;

}

.ulImage {
    position: absolute;
    bottom: 23.5rem;
    right: 30.5rem;
}


.vImage {
    position: absolute;
    bottom: 7rem;
    left: 48rem;

}

#maximale {
    padding: 3% 0;
}

@media (max-width: 1366px) {
    .hero-image {
        width: 12rem;
        bottom: 5rem;
        left: 38rem;
    }

    .hero-text {
        font-size: 2.5rem;
        color: #f1f1e6;
        left: 22rem;
        top: 22rem;
    }

    .w20r {
        width: 14rem;
    }

    .dhImage {
        position: absolute;
        bottom: 13.7rem;
        left: 31.2rem;

    }

    .ulImage {
        bottom: 23.5rem;
        right: 12rem;
    }


    .vImage {
        position: absolute;
        bottom: 7.2rem;
        left: 29rem;

    }

    .maxImage {
        position: absolute;
        bottom: 10rem;
        left: 25rem;

    }

}

@media (min-width: 1367px ) and (max-width: 1440px) {
    .hero-text {
        font-size: 2.5rem;
        color: #f1f1e6;
        left: 23.5rem;
        top: 25rem !important;
    }

    .w20r {
        width: 14rem;
    }

    .dhImage {
        position: absolute;
        bottom: 14.2rem;
        left: 33.6rem;

    }

    .ulImage {
        bottom: 23.8rem;
        right: 14.3rem;
    }


    .vImage {
        position: absolute;
        bottom: 7.6rem;
        left: 31rem;

    }

    .fs-desni {
        top: 5.7rem;
    }
}

@media (min-width: 1441px ) and (max-width: 1600px) {
    .hero-text {
        font-size: 2.5rem;
        color: #f1f1e6;
        left: 29rem;
        bottom: 23rem;
    }

    .w20r {
        width: 14rem;
    }

    .dhImage {
        position: absolute;
        bottom: 14rem;
        left: 39rem;

    }

    .ulImage {
        bottom: 24rem;
        right: 19.8rem;
    }


    .vImage {
        position: absolute;
        bottom: 7.2rem;
        left: 37rem;

    }
}

.maxImageL {
    position: relative;
    bottom: 0rem;
    left: -2rem;
}

.maxImageR {
    position: relative;
    bottom: 0rem;
    left: 5.5rem;
}

a.buy-button.button.action-button-nav.smooth {
    left: 4rem;
}

@media (min-width: 1180px) and (max-width: 1365px) {
    a.buy-button.button.action-button-nav.smooth {
        left: 2rem !important;
    }

    .hero-text {
        /*font-size:2.5rem;*/
        color: #f1f1e6;
        left: 18rem;
        bottom: 23rem;
    }

    .w20r {
        width: 14rem;
    }

    .dhImage {
        position: absolute;
        bottom: 14.2rem;
        left: 28.3rem;

    }

    .ulImage {
        bottom: 24rem;
        right: 9rem;
    }


    .vImage {
        position: absolute;
        bottom: 7.2rem;
        left: 26rem;

    }

    .navbar-right {
        margin-right: 1rem !important;
    }
}

.StripeElement {
    background-color: white;
    height: 40px;
    padding: 10px 12px;
    border-radius: 4px;
    border: 1px solid transparent;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

#order-button,
#card-element {
    margin: 1.5rem 0 0 0;
}

#order-main-price {
    position: absolute;
    color: black;
    font-size: 2rem;
    font-weight: 600;
    left: 12rem;
}

#order-tropfen-price {
    position: absolute;
    color: black;
    font-size: 1.2rem;
    font-weight: 600;
    left: 12rem;
    top: 10.5rem;
}

#order-spray-price {
    position: absolute;
    color: black;
    font-size: 1.2rem;
    font-weight: 600;
    left: 12rem;
    top: 20.4rem;
}

.lieferP {
    font-size: 1rem;
    color: black;
    font-family: Montserrat, Arial, sans-serif !important;
    font-weight: bold;
    border-bottom: 2px solid #dddddd;
    margin: 0 -4.5rem 1.5rem -4.5rem;
}

.v-divider {
    /*margin-left: 5px;*/
    /*margin-right: 5px;*/
    /*width: 50%;*/
    height: 100%;
    border-left: 1px solid gray;
}

.bold {
    font-weight: bold;
}

#total {
    vertical-align: middle;
}

.font-size-small {
    font-size: 10px;
}

#order-button {
    background-color: #fc9c00;
}

.orange-stroke {
    -webkit-text-stroke: 1px black;
    -webkit-text-fill-color: #fc9c00;
}